@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');

$firstFonts:'Ubuntu', sans-serif;

$white: #FFFFFF;
$gray: #828282;
$darkBlue: #0097E6;
$green: #45F391;
$lightBlue: #2BA9EA;
